* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html, body {
    height: 100px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

.site-container {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 500px;
    // background-color: blanchedalmond;
}

@font-face {
    font-family: GillSans;
    src: url(../css/fonts/GillSans.ttc);
}

@font-face {
    font-family: ProximaNovaScOsfExtraCondensed;
    src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}